.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 12px;
}

.name {
  font-weight: 700;
  margin-right: 12px;
  color: black;
}

.button {
  cursor: pointer;
  padding: 8px 15px;
  background-color: rgb(23, 70, 27);
  color: white;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:focus {
  background-color: rgb(21, 75, 28);
}